@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.selected {
  background: #242582;
  color: white;
}

.container {
  margin: 0 auto;
  max-width: 95%;
  position: relative;
}

.user-modal {
  background: rgba(255, 255, 255, .95);
  bottom: 0;
  left: 0;
  padding: 2.2rem;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
}